.asidesection{
    width: 200px;
    position: relative;
    
    height: 90vh;
    overflow-y: scroll;

  
    margin: 10px;
}
.hdn{
    display: none;
}

@media (max-width:460px) {
    /* .asidesection{
        display: none;
    } */

    .asidesection{
      position:absolute;
      background-color: white;
      overflow:visible;
      top: 0px;
      left: 0px;
    }
}
.explore{
    padding-left: 15px;
    font-size: larger;
}
.asidebtns{
    width: 90%;
    padding-left: 20px;
   
    height: 40px;
    display: flex;
    background-color: white;
    justify-content: start;
    align-items: center;
    border: none;
    margin: 7px;
    cursor: pointer;
    
}
.signindiv{
    width: 90%;
    margin: auto;
    
}

.alonesignin
{
    padding-left:10px ;
}
.asidebtns:hover{
    box-shadow: 0px 0px 5px;
    transform: scale(0.98);
}

.asideimages{
    height: 25px;
}

.paraaside{
    padding-left: 10px;
}

.alonetextinfo{
    text-align: center;
}