.maincontainercomments{
    display: flex;
    margin: 18px;
    width: 100%;
}

.commentsimage2{
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}

.commentusername{
    display: flex;
}

.commentcontainer{
    display: flex;
    width: 700px;
    justify-content: space-between;
}
.commenteditdel{
    display: flex;
}
.likeunlikecomment{
    display: flex;
}