.parentvideocard{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    width: auto;
    height: auto;
 
    box-shadow: 0px 0px 4px black;
    border-radius: 9px;
}


.imagethumbcont{
    width: 100%;
}

.thumbnailvideo{
    width: 100%;
    padding: 5px;
    
}

.channeliconuser{
    width: 30px;
    border-radius: 50%;
    border: none;
    
}

.detailsconttaboutvideo{
    display: flex;
    padding: 10px;
    gap: 10px
}
.details2{
    display: flex;
    flex-direction:column;
}
.viewscont{
    display: flex;
    gap: 10px;
    font-size: 13px;
}

/* @media (max-width:950px) {

    .parentvideocard{
        width: 300px;
    }
    
} */

/* @media (max-width:890px) {

    .parentvideocard{
        width: 300px;
    }
    
} */
/* @media (max-width:850px) {

    .parentvideocard{
        width: 380px;
        
    }
    
}
@media (max-width:800px) {

    .parentvideocard{
        width: 280px;
        
    }
    
} */

/* 
@media (max-width:680px) {
    
  .parentvideocard{
        width: 100%;
    }
    
} */



.uploadername{
    font-size: 13px;
}

.title2{
    font-size: 18px;
}